body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #333;
    font: 100% Arial, Sans Serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#spam {
    text-align: center;
}

#background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

#RoomInformation, #ChatRoom {
    background-image: url("chatback.png");
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}

#scrollable {
    max-height: 50vh;
    margin: 0px 0px 10px 5px;
    overflow: scroll;
    z-index: 2;
}

#chatrequesponse {
    max-height: 100%;
    overflow-y: auto;
}

.night-hotel {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal normal bold 30px controlspx/normal "Atomic Age", Helvetica, sans-serif;
    color: rgb(64, 126, 196);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252), 4px 4px 8px rgb(44, 88, 137), -4px 4px 8px rgb(44, 88, 137), 4px -4px 8px rgb(44, 88, 137), -4px -4px 8px rgb(44, 88, 137);
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
}

.night-hotel:hover {
    text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
