
table {
    font-size: 12px;
}

#map_canvas {
    top: 10px;
    left: 0;
    height: 60vh;
    border: 1px solid yellow;
}

#listing {
    background-color: #FFFFFF;
    height: 60vh;
    overflow: scroll;
    top: 10px;
    cursor: pointer;
    overflow-x: hidden;
    border: 1px solid lightgrey;
}

.placeIcon {
    width: 32px;
    height: 37px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

#foodrecommend {
    display: none;
    margin-top: 20px;
}